@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
.my-md-4 header-links a {
    color: rgb(75, 219, 22) !important;
}

@media only screen and (max-width: 768px) {
    header .col-sm-12 {
        font-size: 10px;
    }
    header .col-sm-12 h2 {
        font-size: 15px;
    }
    .navbar-toggler {
        font-size: 10px !important;
    }
    .form-control {
        width: 80% !important;
    }
}

.nav a {
    color: rgb(12, 245, 19);
}

.nav-top {
    padding: 0;
}


/* .menu a:hover {
    color: rgb(216, 154, 154);
    text-decoration: none;
    background-color: #69f307;
} */

.menu a {
    color: rgb(43, 248, 11);
}

.active {
    color: rgb(31, 248, 6);
}

header {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-css {
    color: black;
    margin: 0px;
    text-align: left;
}

main {
    font-family: 'Roboto', sans-serif;
}

.gachchu {
    text-decoration: line-through;
}

.form-control {
    width: 100%;
}

.datee {
    width: 50%;
    display: flex;
}

.table table-dark table-hover {
    height: 100%;
}

.mess {
    float: left;
    left: 70%;
    bottom: 2%;
}

.thuong-hieu {
    width: 15%;
    border-radius: 20px;
    border: 1px;
}

.thuong-hieu:hover {
    border: 2px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.39);
}

.gia {
    width: 150px;
}

.card-pc:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.39);
}

@media only screen and (max-width: 768px) {
    .gia {
        font-size: 10px;
        width: 100px;
    }
    .pc {
        width: 10rem !important;
    }
    .pc p,
    h5,
    code {
        font-size: 10px !important;
    }
    .card-pc {
        width: 10rem !important;
    }
    .card img {
        width: 9rem;
    }
    footer,
    h3 {
        font-size: 10px;
    }
    .footer-icon {
        width: 50px !important;
    }
}

footer {
    background-color: rgb(234, 172, 18);
    color: rgb(53, 55, 56);
}

.table-footer {
    color: rgb(67, 72, 77);
    border: none;
    width: 100%;
}

.table-footer tbody tr td {
    color: rgb(116, 62, 51);
}